ALLOWED_ORIGIN=<ALLOWED_ORIGIN>

MONGO_URI=<MONGO_URI>
DB_NAME=<DB_NAME>

JWT_AUTH_SECRET=<JWT_AUTH_SECRET>
CLOUDINERY_API_KEY=<CLOUDINERY_API_KEY>
CLOUDINERY_API_SECRET=<CLOUDINERY_API_SECRET>
CLOUDINERY_CLOUD_NAME=<CLOUDINERY_CLOUD_NAME>