<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ userDetails.name }}</title>

    <style>
      {{ css | safe }}
    </style>
  </head>

  <body>
    <div class="page">
      <!-- ================= LEFT SIDEBAR ================= -->

      <aside class="sidebar">
        {% if personalDetails.profileImage %}
        <img
          class="profile-photo"
          src="{{ personalDetails.profileImage }}"
          alt="{{ userDetails.userName }}"
        />
        {% endif %} {% if skills.skills %}

        <section>
          <h3>Skills</h3>

          {% for category, skill_list in skills.skills.items() %}

          <div class="skill-category">
            <h4>{{ category }}</h4>

            <ul>
              {% for skill in skill_list %}

              <li>{{ skill }}</li>

              {% endfor %}
            </ul>
          </div>

          {% endfor %}
        </section>

        {% endif %}

        <section>
          <h3>Academics</h3>
          <!-- Loop through Academics Data -->
          <ol class="academics-list">
            {% for item in academics.academics %}
            <li class="academic-item">
              <!-- Course Heading -->
              <h4 class="course-title">{{ item.course }}</h4>

              <!-- Detail Badges / Chips -->
              <div class="meta-info">
                <span class="">{{ item.year }}</span>

                {% if item.collegeUrl %}
                <a
                  href="{{ item.collegeUrl }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  class=""
                >
                  {{ item.college }}
                </a>
                {% else %}
                <span class="">{{ item.college }}</span>
                {% endif %}

                <span class="">{{ item.university }}</span>
                <span class="">Grade: {{ item.grades }}</span>
              </div>
            </li>
            {% endfor %}
          </ol>
        </section>

        <section>
          <h3>Personal Details</h3>

          {% if personalDetails.dob %}
          <div>
            <h4>Date of Birth</h4>
            {% set m, d, y = personalDetails.dob.split('-') %}
            <p>{{ "%02d-%02d-%s" | format(d | int, m | int, y) }}</p>
          </div>

          {% endif %} {% if personalDetails.nationality %}
          <div>
            <h4>Nationality</h4>
            <p>{{ personalDetails.nationality }}</p>
          </div>

          {% endif %} {% if personalDetails.address %}
          <div>
            <h4>Permanent Address</h4>
            <p>{{ personalDetails.address }}</p>
          </div>

          {% endif %}
        </section>

        <section>
          <h3>Contact</h3>

          {% if personalDetails.contactDetails %} {% for contact in
          personalDetails.contactDetails %}
          <div>
            <h4>{{ contact.type }}</h4>
            <p>{{ contact.number }}</p>
          </div>
          {% endfor %} {% endif %} {% if userDetails.email %}
          <div>
            <h4>Email</h4>
            <p>{{ userDetails.email }}</p>
          </div>

          {% endif %} {% if profile.location %}
          <p>{{ profile.location }}</p>
          {% endif %} {% if profile.website %}
          <p>{{ profile.website }}</p>
          {% endif %}
        </section>
        {% if personalDetails.languagesKnown %}

        <section>
          <h3>Languages</h3>

          <ul>
            {% for language in personalDetails.languagesKnown %}

            <li>{{ language.value }}</li>

            {% endfor %}
          </ul>
        </section>

        {% endif %} {% if personalDetails.socialMedia %}

        <section>
          <h3>Social</h3>

          {% for social in personalDetails.socialMedia %}

          <div class="social">
            <strong>{{ social.type }}</strong>

            <div class="social-link">{{ social.link }}</div>
          </div>

          {% endfor %}
        </section>

        {% endif %} {% if certifications %}

        <section>
          <h3>Certifications</h3>

          {% for cert in certifications %}

          <div class="certification">
            <strong>{{ cert.name }}</strong>

            <div>{{ cert.organization }}</div>
          </div>

          {% endfor %}
        </section>

        {% endif %}
      </aside>

      <!-- ================= MAIN CONTENT ================= -->

      <main class="content">
        <header>
          <h1>{{ personalDetails.name }}</h1>
          <h3 style="margin: 3px 0">
            {{currentStatus.position}} @ {{currentStatus.company}}
          </h3>
          <div class="headline">
            {% for item in careerHighlights.title %} {% if loop.last %} |
            <strong>{{ item.value }}</strong> | {% else %} |
            <strong>{{ item.value }}</strong>
            {% endif %} {% endfor %}
          </div>
        </header>

        {% if careerHighlights.summary %}

        <section>
          <h3>Professional Summary</h3>

          <div class="career-summary">{{ careerHighlights.summary }}</div>
        </section>

        {% endif %} {% if experiences %}

        <section>
          <h3>Experience</h3>

          {% for exp in experiences %}

          <article class="experience">
            <div class="title-row">
              <div>
                <h4>{{ exp.position }}</h4>

                <div>{{ exp.company }}</div>
              </div>

              <div>
                {{ exp.fromDate }} - {% if exp.toDate %} {{ exp.toDate }} {%
                else %} Present {% endif %}
              </div>
            </div>

            {% if exp.roles_responsibilities %}
            <div class="rich-text-content">
              {{ exp.roles_responsibilities }}
            </div>
            {% endif %} {% if exp.highlights %}

            <ul>
              {% for point in exp.highlights %}

              <li>{{ point }}</li>

              {% endfor %}
            </ul>

            {% endif %}
          </article>

          {% endfor %}
        </section>

        {% endif %} {% if projects %}

        <section>
          <h3>Projects</h3>

          {% for project in projects %}

          <article>
            <h4>{{ project.title }}</h4>

            <p>{{ project.contributions }}</p>

            {% if project.technologies %}

            <div class="tech-stack">
              {% for tech in project.technology %}

              <span>{{ tech.value }}</span>

              {% endfor %}
            </div>

            {% endif %}
          </article>

          {% endfor %}
        </section>

        {% endif %} {% if education %}

        <section>
          <h3>Education</h3>

          {% for edu in education %}

          <article>
            <h4>{{ edu.degree }}</h4>

            <div>{{ edu.institute }}</div>

            <div>{{ edu.startYear }} - {{ edu.endYear }}</div>
          </article>

          {% endfor %}
        </section>

        {% endif %} {% if awards %}

        <section>
          <h3>Awards</h3>

          {% for award in awards %}

          <article>
            <strong>{{ award.title }}</strong>

            <div>{{ award.organization }}</div>
          </article>

          {% endfor %}
        </section>

        {% endif %} {% if publications %}

        <section>
          <h3>Publications</h3>

          {% for publication in publications %}

          <article>
            <strong>{{ publication.title }}</strong>

            <div>{{ publication.publisher }}</div>
          </article>

          {% endfor %}
        </section>

        {% endif %}
      </main>
    </div>
  </body>
</html>
